src/flows/Troubleshoot_Customer_Issue-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Troubleshoot Customer Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Troubleshoot Customer Issue</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCase</name>
        <label>createCase</label>
        <locationX>112</locationX>
        <locationY>421</locationY>
        <assignRecordIdToReference>varCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Wrap_Up</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>What_is_Customer_Issue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>retrieveContact</name>
        <label>retrieveContact</label>
        <locationX>119</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Issue_Description</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Customer_Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Customer_Info</name>
        <label>Customer Info</label>
        <locationX>118</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>retrieveContact</targetReference>
        </connector>
        <fields>
            <name>Customer_Email</name>
            <dataType>String</dataType>
            <fieldText>Customer Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Display_Fault</name>
        <label>Display Fault</label>
        <locationX>355</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Fault_Message</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Issue_Description</name>
        <label>Issue Description</label>
        <locationX>117</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
        <fields>
            <name>What_is_Customer_Issue</name>
            <fieldText>What is Customer Issue</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Wrap_Up</name>
        <label>Wrap Up</label>
        <locationX>114</locationX>
        <locationY>526</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Wrap_up_text_2</name>
            <fieldText>A case is created.
Id: {!varCaseId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Customer_Info</startElementReference>
    <variables>
        <name>carCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
